@import '../../scss/custom';

#rating {
  text-align: right;

  #stars {
    
    .star {
      display: inline;
      list-style-type: none;
    }
  }

  .far, .fas {
    color: $color-primary;
  }
}