<div id="rating" class="pt-2">
  <ul id="stars">
    <li class="star">
      <i class="far fa-star fa-2x"></i>
    </li>
    <li class="star">
      <i class="far fa-star fa-2x"></i>
    </li>
    <li class="star">
      <i class="far fa-star fa-2x"></i>
    </li>
    <li class="star">
      <i class="far fa-star fa-2x"></i>
    </li>
    <li class="star">
      <i class="far fa-star fa-2x"></i>
    </li>
  </ul>
</div>