<div id="rating">
  <i class="far fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
</div>