<div class="row">
  <div class="col-12 col-md-9">
    <ul class="nav nav-tabs" id="products-tab" role="tablist">

      {{#each tab}}
        <li class="nav-item">
          <a class="nav-link px-1 px-sm-3 {{active}}" id="home-tab" data-toggle="tab" href="{{href}}" role="tab" aria-controls="{{ariaControls}}"
            aria-selected="true">{{text}}</a>
        </li>
      {{/each}}

    </ul>
  </div>
  <div class="col-12 col-md-3">
    <form class="form-inline my-2">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">Search</button>
    </form>
  </div>
</div>

{{> ./tabContent}}