<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body class="container">
    <header>
        <div id="nav">
            {{> components/nav/nav }}
        </div>
        <div id="banner">
            {{> components/banner/banner }} 
        </div>
    </header>

    <main>
        <section id="product">
            {{> components/product/product }}
        </section>
        <section id="tabs">
            {{> components/tabs/tabs }}
        </section>
    </main>

    <aside id="rating">
        {{> components/rating/rating }}
    </aside>
    
</body>

</html>