@import '../../scss/custom';

.btn-breadcrumb {

  .btn {
    padding: 6px 12px 6px 24px;

    &:first-child {
      padding: 6px 6px 6px 10px;
    }

    &:last-child {
      padding: 6px 18px 6px 24px;
    }

    &:not(:last-child):after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 10px solid $color-primary-hover;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: 100%;
      z-index: 3;
    }

    &:not(:last-child):before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 17px solid $color-primary;
      border-bottom: 17px solid $color-primary;
      border-left: 10px solid $color-primary-hover;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      margin-left: 1px;
      left: 100%;
      z-index: 3;
    }
  }

  .btn-primary {

    &:hover {
      background-color: $color-primary;
      color: $color-primary-hover;
    }
    
    &:not(:last-child) {

      &:after {
        border-left: 10px solid $color-primary;
      }

      &:before {
        border-left: 10px solid $color-primary-hover;
      }
    }
  }
}