<nav class="navigationWrapper d-flex justify-content-between py-5">
  <nav class="btn-group btn-breadcrumb">
    {{#each navItems}}
      <a href="{{url}}" class="btn btn-primary {{responsive}}">{{text}}</a>
    {{/each}}
  </nav>
  <div class="register">
    <a href="#">Login</a>
  </div>
</nav>