<nav class="navigationWrapper d-flex justify-content-between py-5">
  <nav class="btn-group btn-breadcrumb">
    <a href="#" class="btn btn-primary text-capitalize">home</a>
    <a href="#" class="btn btn-primary text-capitalize">level 1</a>
    <a href="#" class="btn btn-primary text-capitalize">level 2</a>
    <a href="#" class="btn btn-primary text-capitalize">level 3</a>
    <a href="#" class="btn btn-primary text-capitalize">last</a>
  </nav>
  <div class="register">
    <a href="#">Login</a>
  </div>
</nav>